In [1]:
import pandas as pd
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('./../data/2021_analisisasociado.xlsx')

In [3]:
df

,No. Asociado,CÉDULA,NOMBRE,ANTIGÜEDAD,ACTIVO,CIUDAD,EDAD,GÉNERO,TIPO VIVIENDA,ESTRATO,...,PASIVOS,PATRIMONIO,SALARIO,GASTOS,ENTIDAD,No. PRODUCTOS,CALIFICACIÓN,DIAS MORA,SALDO TOTAL,MORA
0,1,10000,JORGE ELIECER ALDANA AMADOR,4,Activo,GRA,54,Masculino,ARRENDADA,2,...,1,0,1149906,1000000,GOB MT,1,A,0,492687.0,0
1,2,11000,ELKIN ARLEY CASTRO VELANDIA,1,Activo,GRAN,29,Masculino,PROPIA,2,...,16000000,0,1228925,1000000,EJER NAL,1,A,0,395715.0,0
2,3,12000,HERSSON FERNANDO FLOREZ MORENO,6,Activo,GRAN,29,Masculino,FAMILIAR,3,...,84000000,-83999999,2319409,1540000,GOB MT,1,A,0,603910.0,0
3,4,13000,BRAYAN ALEXANDER BARON ORTEGON,0,Activo,ACA,31,Masculino,ARRENDADA,2,...,0,0,1854448,900000,MPIO EL DORA,1,A,0,631766.0,0
4,5,14000,CINDY MAYELA OCHOA HERNANDEZ,5,Activo,GRAN,34,Femenino,PROPIA,2,...,67000000,83000000,2489102,1000000,GOB MT,1,A,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2519,2520,2529000,OFELIA PEREZ,21,Activo,GRAN,63,Femenino,ARRENDADA,2,...,0,0,1167812,0,0,2,E,990,12678497.0,52220345
2520,2521,2530000,DORIS EDIT PARRADO PARRADO,7,Activo,GRAN,56,Femenino,PROPIA,3,...,0,0,3300000,0,0,1,E,1740,26341773.0,55830006
2521,2522,2531000,LUIS HERLEY JIMENEZ VALENCIA,6,Activo,VILLA,53,Masculino,PROPIA,3,...,0,0,2402900,0,MUN VCIO,6,E,1345,26442992.0,75132454
2522,2523,2532000,ANGELICA MARIA BLANCO QUINTERO,13,Activo,VILLA,43,Femenino,PROPIA,3,...,0,0,5872590,0,MUN VCIO,3,E,865,17119909.0,78433507
2523,2524,2533000,LUIS MIGUEL DIAZ CUBIDES,21,Activo,VILLA,61,Masculino,PROPIA,3,...,0,0,2129772,0,0,1,E,3630,39753981.0,163603870

In [4]:
from janitor import clean_names
df = clean_names(df)

In [5]:
df

,no_asociado,cedula,nombre,antiguedad,activo,ciudad,edad,genero,tipo_vivienda,estrato,...,pasivos,patrimonio,salario,gastos,entidad,no_productos,calificacion,dias_mora,saldo_total,mora
0,1,10000,JORGE ELIECER ALDANA AMADOR,4,Activo,GRA,54,Masculino,ARRENDADA,2,...,1,0,1149906,1000000,GOB MT,1,A,0,492687.0,0
1,2,11000,ELKIN ARLEY CASTRO VELANDIA,1,Activo,GRAN,29,Masculino,PROPIA,2,...,16000000,0,1228925,1000000,EJER NAL,1,A,0,395715.0,0
2,3,12000,HERSSON FERNANDO FLOREZ MORENO,6,Activo,GRAN,29,Masculino,FAMILIAR,3,...,84000000,-83999999,2319409,1540000,GOB MT,1,A,0,603910.0,0
3,4,13000,BRAYAN ALEXANDER BARON ORTEGON,0,Activo,ACA,31,Masculino,ARRENDADA,2,...,0,0,1854448,900000,MPIO EL DORA,1,A,0,631766.0,0
4,5,14000,CINDY MAYELA OCHOA HERNANDEZ,5,Activo,GRAN,34,Femenino,PROPIA,2,...,67000000,83000000,2489102,1000000,GOB MT,1,A,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2519,2520,2529000,OFELIA PEREZ,21,Activo,GRAN,63,Femenino,ARRENDADA,2,...,0,0,1167812,0,0,2,E,990,12678497.0,52220345
2520,2521,2530000,DORIS EDIT PARRADO PARRADO,7,Activo,GRAN,56,Femenino,PROPIA,3,...,0,0,3300000,0,0,1,E,1740,26341773.0,55830006
2521,2522,2531000,LUIS HERLEY JIMENEZ VALENCIA,6,Activo,VILLA,53,Masculino,PROPIA,3,...,0,0,2402900,0,MUN VCIO,6,E,1345,26442992.0,75132454
2522,2523,2532000,ANGELICA MARIA BLANCO QUINTERO,13,Activo,VILLA,43,Femenino,PROPIA,3,...,0,0,5872590,0,MUN VCIO,3,E,865,17119909.0,78433507
2523,2524,2533000,LUIS MIGUEL DIAZ CUBIDES,21,Activo,VILLA,61,Masculino,PROPIA,3,...,0,0,2129772,0,0,1,E,3630,39753981.0,163603870

In [6]:
df.set_index('no_asociado', inplace = True)
df

,cedula,nombre,antiguedad,activo,ciudad,edad,genero,tipo_vivienda,estrato,ocupacion,...,pasivos,patrimonio,salario,gastos,entidad,no_productos,calificacion,dias_mora,saldo_total,mora
no_asociado,,,,,,,,,,,,,,,,,,,,,
1,10000,JORGE ELIECER ALDANA AMADOR,4,Activo,GRA,54,Masculino,ARRENDADA,2,DOCENTE,...,1,0,1149906,1000000,GOB MT,1,A,0,492687.0,0
2,11000,ELKIN ARLEY CASTRO VELANDIA,1,Activo,GRAN,29,Masculino,PROPIA,2,EMPLEADO PUBLICO NO DOCENTE,...,16000000,0,1228925,1000000,EJER NAL,1,A,0,395715.0,0
3,12000,HERSSON FERNANDO FLOREZ MORENO,6,Activo,GRAN,29,Masculino,FAMILIAR,3,DOCENTE,...,84000000,-83999999,2319409,1540000,GOB MT,1,A,0,603910.0,0
4,13000,BRAYAN ALEXANDER BARON ORTEGON,0,Activo,ACA,31,Masculino,ARRENDADA,2,Tecnico,...,0,0,1854448,900000,MPIO EL DORA,1,A,0,631766.0,0
5,14000,CINDY MAYELA OCHOA HERNANDEZ,5,Activo,GRAN,34,Femenino,PROPIA,2,DOCENTE,...,67000000,83000000,2489102,1000000,GOB MT,1,A,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2520,2529000,OFELIA PEREZ,21,Activo,GRAN,63,Femenino,ARRENDADA,2,Otros,...,0,0,1167812,0,0,2,E,990,12678497.0,52220345
2521,2530000,DORIS EDIT PARRADO PARRADO,7,Activo,GRAN,56,Femenino,PROPIA,3,Otros,...,0,0,3300000,0,0,1,E,1740,26341773.0,55830006
2522,2531000,LUIS HERLEY JIMENEZ VALENCIA,6,Activo,VILLA,53,Masculino,PROPIA,3,Otros,...,0,0,2402900,0,MUN VCIO,6,E,1345,26442992.0,75132454
2523,2532000,ANGELICA MARIA BLANCO QUINTERO,13,Activo,VILLA,43,Femenino,PROPIA,3,Otros,...,0,0,5872590,0,MUN VCIO,3,E,865,17119909.0,78433507
2524,2533000,LUIS MIGUEL DIAZ CUBIDES,21,Activo,VILLA,61,Masculino,PROPIA,3,Otros,...,0,0,2129772,0,0,1,E,3630,39753981.0,163603870

In [7]:
# cuantos asociados hay
# de qué año a qué año va la antiguedad
# asociados con mayor antiguedad
# cantidad de asociados por ciudad
# cual es la ciudad con mas asociados
# como se distribuyen los asociados
# distribución por edades
# hay mas asociados hombres o mujeres
# los asociados en mora viven en arriendo o casa propia
# cual es el minimo y maximo de estrato
# cual es la ocupacion de los asociados por ciudades
# en qué ciudad se encuentran los asociados mas morosos
# los asociados jovenes son mas buena paga que los mayores?
# entre mas edad mas activos?
# a mayor nivel académico mayor el estrato ?
# a mayores ingresos mayor la mora?
# a mayor antiguedad menos pasivos?
# a mayor salario mas No. de productos 
# influye el No de hijos en la calificacion
# a mayor numero de productos mayor mora
# distribucion por entidad
# a que entidad pertenecen los asociados morosos
# a mayor edad mejor calificacion?
# distribucion de la calificacion por tipo de contrato

In [8]:
# cuantos asociados activos hay?

df.count()['activos']

2524

In [9]:
# cual es la mayor y menor antiguedad
print(df['antiguedad'].max())
print(df['antiguedad'].min())
print(df['antiguedad'].mean())

36
0
7.457210776545167

In [10]:
# cantidad de asociados por ciudad
2021_analisisasociado.groupby(['ciudad']).count()['no_asociado']

SyntaxError: invalid decimal literal (Temp/ipykernel_11904/1036072538.py, line 2)

In [11]:
# cual es la mayor y menor edad
print(df['edad'].max())
print(df['edad'].min())
print(df['edad'].mean())

80
19
46.437797147385105